#form{
    display: block;
    width: 500px;
    background-color: red;
    padding: 15px;
    border-radius: 5px;

}
.textinput{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    
}